#event {
  
}
#event div.wrap {
  
  height: 400px;
  margin: 0 auto;
  padding-top: 50px;
  width: 980px;
}
#event div.wrap div.text {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 19px;
}
#event div.wrap div.text h2 {
  
  font-size: 41px;
}
#event div.wrap div.text ul {
  
  display: flex;
}
#event div.wrap div.text ul li {
  
}
#event div.wrap div.text ul li:nth-child(1){
  
display: block;
position: absolute;
right: 111px;
top: 7px;
width: 28px;
height: 28px;
font-size: 0;
background: transparent url('../img/stop.png') 9.5px center/11px 15px scroll no-repeat;
border: 1px solid #e3e3e3;
border-radius: 50%;
}
#event div.wrap div.text ul li a {
  
padding: 4px 32px 4px 15px;
font-size: 14px;
color: #222;
line-height: 1.429em;
background: transparent url('../img/right.png') calc(100% - 7px) center/8px 13px scroll no-repeat;
border: 1px solid #e2e2e2;
border-radius: 15px;
box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.05);
}
#event div.wrap div.evimal {
  
  display: flex;
  width: 100%;
}
#event div.wrap div.evimal div.eventimg::before{
  content: '';
  position: absolute;
  width: 307px;
  height: 207px;
  top: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px; 
}
#event div.wrap div.evimal div.eventimg:nth-child(1)::before{
  background-image: url(../img/eventimg1.jpg)
}
#event div.wrap div.evimal div.eventimg:nth-child(2)::before{
  background-image: url(../img/eventimg2.jpg)
}
#event div.wrap div.evimal div.eventimg:nth-child(3)::before{
  background-image: url(../img/eventimg3.jpg)
}
#event div.wrap div.evimal div.eventimg {
  
  width: calc(100% / 3);
  height: 273px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;
}
#event div.wrap div.evimal div.eventimg h3 {
  
  margin-top: 8px;
}
#event div.wrap div.evimal div.eventimg time {
  
  display: block;
  margin-top: 4px;
  font-size: 14px;
  color: #666;
  line-height: 1.429em;
}