#gh {
  
}
#gh div.wrap {
  
  width: 980px;
  margin: 0 auto;
}
#gh div.wrap div.box1 {
  
  display: flex;
  margin-top: 30px;
}
#gh div.wrap div.box1 div.textbox{
  
  width: 460px;
  padding: 24px 26px 20px 30px;
  border: 1px solid #e4e4e4;
  border-radius: 10px;
}
#gh div.wrap div.box1 div.text1 {
  
  width: 460px;
  display: flex;
  padding-bottom: 21px;
  border-bottom: 1px solid #f4f4f4;
}
#gh div.wrap div.box1 div.text1 a:nth-of-type(1){
  
  float: left;
  overflow: hidden;
  max-width: 300px;
  margin-top: 2px;
  margin-left: 28px;
  font-size: 14px;
  color: #222;
  line-height: 1.429em;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#gh div.wrap div.box1 div.text1 a:nth-of-type(2){
  
  float: right;
  padding: 2px 15px 3px;
  font-weight: 400;
  font-size: 12px;
  color: #666;
  line-height: 1.417em;
  border: 1px solid #f4f4f4;
  border-radius: 11px;
}
#gh div.wrap div.box1 div.text1 h2 {
  
  float: left;
  font-weight: 500;
  font-size: 16px;
  color: #222;
  line-height: 1.500em;
}
#gh div.wrap div.box1 div.text1 h2 a {
  
}
#gh div.wrap div.box1 div.text2 {
  
  width: 460px;
}
#gh div.wrap div.box1 div.text2 div.go {
  
  padding: 19px 0 22px;
  display: ;
}
#gh div.wrap div.box1 div.text2 div.go h3 {
  
  font-weight: 500;
  display: inline-block;
}
#gh div.wrap div.box1 div.text2 div.go p {
  
  display: block;
  font-weight: 700;
  font-size: 14px;
  color: #222;
  line-height: 1.714em;
  padding-left: 20px;
}
#gh div.wrap div.box1 div.text2 div.a {
  
  order: 3;
}
#gh div.wrap div.box1 div.text2 div.a a {
  padding: 7px 14px;
  font-size: 14px;
  color: #222;
  line-height: 1.429em;
  background-color: #f6f6f6;
  border-radius: 5px;
}
#gh div.wrap a {
}
#gh div.wrap a div.img {
  
}
#gh div.wrap a div.img a {
  
}
#gh div.wrap div.box1 div.app{

  flex-direction: column;
  width: 222px;
  text-align: center;
  display: flex;
  justify-content: center;
  border: 1px solid #e4e4e4;
  border-radius: 10px;
  align-items: center;
}
#gh div.wrap div.box1 div.app h2{
    
  display: block;
  margin-top: 3px;
  font-weight: 500;
  font-size: 16px;
  color: #222;
  line-height: 1.500em;
}
#gh div.wrap div.box1 div.app p:nth-of-type(1){
    
  display: block;
  width: 100%;
  margin-top: 10px;
  font-size: 12px;
  color: #222;
  line-height: 1.250em;
}
#gh div.wrap div.box1 div.app p:nth-of-type(2){
  margin-top: 24px;
font-size: 12px;
color: #666;
letter-spacing: -0.030em;
line-height: 1.417em;
}
#gh div.wrap div.box1 div.app figure{
    
  background-image: url(../img/cord.gif);
  width: 60px;
  height: 60px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 20px;
}
#gh div.wrap div.box1 div.img{
  
  width: 210px;
  height: 240px;
  background-image: url(../img/cardimg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 30px;
  border-radius: 10px;
}
