#mv {
  
  background-color: #eee;
  height: 100%;
  width: 100%;
}
#mv div.wrap {
  
  width: 1040px;
  overflow: hidden;
  padding: 50px 30px 60px;
  height: 100%;
}
#mv div.wrap div.mvtext {
  
  display: flex;
  height: 37px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
#mv div.wrap div.mvtext hgroup{
  
  display: flex;
  font-size: 26px;
  position: relative;
}
#mv div.wrap div.mvtext hgroup h2 {
  
  padding: 5px;
}
#mv div.wrap div.mvtext hgroup h3 {
  
  color: #666;
  padding: 5px;
  position: relative;
  margin-left: 30px;
}
#mv div.wrap div.mvtext hgroup h3:before{
  content: '';
  width: 10px;
  height: 20px;
  display: block;
  position: absolute;
  left: -15px;
  top: 9px;
  border-left: 1px solid #d8d8d8;
}
#mv div.wrap div.mvtext hgroup .outline{
    outline: 3px solid #ead3d7;
  font-weight: 700;
  color: #222;
}
#mv div.wrap div.mvtext a {
  
  padding: 4px 32px 4px 15px;
  font-size: 14px;
  color: #222;
  line-height: 1.429em;
  background: transparent url('../img/right.png') calc(100% - 7px) center/8px 13px scroll no-repeat;
  border: 1px solid #e2e2e2;
  border-radius: 15px;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.05);
}
#mv div.wrap div.mvdiv{
  
  display: flex;
  width: 100%;
}
#mv div.wrap div.mvdiv .mvchart1{
  
  display: flex;
  overflow: hidden;
  max-width: 1040px;
}
#mv div.wrap div.mvdiv .mvchart2{
  display: flex;
  overflow: hidden;
  max-width: 1040px;
}
#mv div.wrap div.mvdiv div.mv {
  
  max-width: 170px;
  margin-right: 40px;
  position: relative;
}
#mv div.wrap div.mvdiv .mvchart1 div.mv:nth-child(1){
  
}
#mv div.wrap div.mvdiv .mvchart1 div.mv:nth-child(2){
  
}
#mv div.wrap div.mvdiv .mvchart1 div.mv:nth-child(3){
  
}
#mv div.wrap div.mvdiv .mvchart1 div.mv:nth-child(4){
  
}
#mv div.wrap div.mvdiv .mvchart1 div.mv:nth-child(5){
  
}
#mv div.wrap div.mvdiv .mvchart1 div.mv:nth-child(6){
  
}
#mv div.wrap div.mvdiv .mvchart1 div.mv:nth-child(7){
  
}
#mv div.wrap div.mvdiv .mvchart1 div.mv:nth-child(8){
  
}
#mv div.wrap div.mvdiv .mvchart1 div.mv:nth-child(9){
  
}
#mv div.wrap div.mvdiv .mvchart1 div.mv:nth-child(10){
  
}
#mv div.wrap div.mvdiv .mvchart2 div.mv:nth-child(1){
  
}
#mv div.wrap div.mvdiv .mvchart2 div.mv:nth-child(2){
  
}
#mv div.wrap div.mvdiv .mvchart2 div.mv:nth-child(3){
  
}
#mv div.wrap div.mvdiv .mvchart2 div.mv:nth-child(4){
  
}
#mv div.wrap div.mvdiv .mvchart2 div.mv:nth-child(5){
  
}
#mv div.wrap div.mvdiv .mvchart2 div.mv:nth-child(6){
  
}
#mv div.wrap div.mvdiv .mvchart2 div.mv:nth-child(7){
  
}
#mv div.wrap div.mvdiv .mvchart2 div.mv:nth-child(8){
  
}
#mv div.wrap div.mvdiv .mvchart2 div.mv:nth-child(9){
  
}
#mv div.wrap div.mvdiv .mvchart2 div.mv:nth-child(10){
  
}
#mv div.wrap div.mvdiv .mvchart1 div.mv:nth-child(1) div.tk{
  
}
#mv div.wrap div.mvdiv .mvchart1 div.mv:nth-child(2) div.tk{
  
}
#mv div.wrap div.mvdiv .mvchart1 div.mv:nth-child(3) div.tk{
  
}
#mv div.wrap div.mvdiv .mvchart1 div.mv:nth-child(4) div.tk{
  
}
#mv div.wrap div.mvdiv .mvchart1 div.mv:nth-child(5) div.tk{
  
}
#mv div.wrap div.mvdiv .mvchart1 div.mv:nth-child(6) div.tk{
  
}
#mv div.wrap div.mvdiv .mvchart1 div.mv:nth-child(7) div.tk{
  
}
#mv div.wrap div.mvdiv .mvchart1 div.mv:nth-child(8) div.tk{
  
}
#mv div.wrap div.mvdiv .mvchart1 div.mv:nth-child(9) div.tk{
  
}
#mv div.wrap div.mvdiv .mvchart1 div.mv:nth-child(10) div.tk{
  
}
#mv div.wrap div.mvdiv .mvchart2 div.mv:nth-child(1) div.tk{
  
}
#mv div.wrap div.mvdiv .mvchart2 div.mv:nth-child(2) div.tk{
  
}
#mv div.wrap div.mvdiv .mvchart2 div.mv:nth-child(3) div.tk{
  
}
#mv div.wrap div.mvdiv .mvchart2 div.mv:nth-child(4) div.tk{
  
}
#mv div.wrap div.mvdiv .mvchart2 div.mv:nth-child(5) div.tk{
  
}
#mv div.wrap div.mvdiv .mvchart2 div.mv:nth-child(6) div.tk{
  
}
#mv div.wrap div.mvdiv .mvchart2 div.mv:nth-child(7) div.tk{
  
}
#mv div.wrap div.mvdiv .mvchart2 div.mv:nth-child(8) div.tk{
  
}
#mv div.wrap div.mvdiv .mvchart2 div.mv:nth-child(9) div.tk{
  
}
#mv div.wrap div.mvdiv .mvchart2 div.mv:nth-child(10) div.tk{
  
}
#mv div.wrap div.mvdiv div.mv div.mvimg {
  
  width: 170px;
  height: 230px;
  background-color: antiquewhite;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 14px;
  object-fit: cover;
  z-index: 1;
}
#mv div.wrap div.mvdiv div.mv div.mvimg:hover{
  
}
#mv div.wrap div.mvdiv div.mv div.mvimg:before{
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.09) 45%, rgba(0, 0, 0, 0.85));
  z-index: 2;
  border-radius: 14px;
}
#mv div.wrap div.mvdiv div.mvchart1 div.mv:nth-of-type(1) div.mvimg{
  
  background-image: url(../img/mv1.jpg);
}
#mv div.wrap div.mvdiv div.mvchart1 div.mv:nth-of-type(2) div.mvimg{
  
  background-image: url(../img/mv2.jpg);
}
#mv div.wrap div.mvdiv div.mvchart1 div.mv:nth-of-type(3) div.mvimg{
  
  background-image: url(../img/mv3.jpg);
}
#mv div.wrap div.mvdiv div.mvchart1 div.mv:nth-of-type(4) div.mvimg{
  
  background-image: url(../img/mv4.jpg);
}
#mv div.wrap div.mvdiv div.mvchart1 div.mv:nth-of-type(5) div.mvimg{
  
  background-image: url(../img/mv5.jpg);
}
#mv div.wrap div.mvdiv div.mvchart1 div.mv:nth-of-type(6) div.mvimg{
  
  background-image: url(../img/mv1.jpg);
}
#mv div.wrap div.mvdiv div.mvchart1 div.mv:nth-of-type(7) div.mvimg{
  
  background-image: url(../img/mv2.jpg);
}
#mv div.wrap div.mvdiv div.mvchart1 div.mv:nth-of-type(8) div.mvimg{
  
  background-image: url(../img/mv3.jpg);
}
#mv div.wrap div.mvdiv div.mvchart1 div.mv:nth-of-type(9) div.mvimg{
  
  background-image: url(../img/mv4.jpg);
}
#mv div.wrap div.mvdiv div.mvchart1 div.mv:nth-of-type(10) div.mvimg{
  
  background-image: url(../img/mv5.jpg);
}
#mv div.wrap div.mvdiv div.mvchart2 div.mv:nth-of-type(1) div.mvimg{
  
  background-image: url(../img/mv11.jpg);
}
#mv div.wrap div.mvdiv div.mvchart2 div.mv:nth-of-type(2) div.mvimg{
  
  background-image: url(../img/mv12.jpg);
}
#mv div.wrap div.mvdiv div.mvchart2 div.mv:nth-of-type(3) div.mvimg{
  
  background-image: url(../img/mv13.jpg);
}
#mv div.wrap div.mvdiv div.mvchart2 div.mv:nth-of-type(4) div.mvimg{
  
  background-image: url(../img/mv14.jpg);
}
#mv div.wrap div.mvdiv div.mvchart2 div.mv:nth-of-type(5) div.mvimg{
  
  background-image: url(../img/mv15.jpg);
}
#mv div.wrap div.mvdiv div.mvchart2 div.mv:nth-of-type(6) div.mvimg{
  
  background-image: url(../img/mv16.jpg);
}
#mv div.wrap div.mvdiv div.mvchart2 div.mv:nth-of-type(7) div.mvimg{
  
  background-image: url(../img/mv17.jpg);
}
#mv div.wrap div.mvdiv div.mvchart2 div.mv:nth-of-type(8) div.mvimg{
  
  background-image: url(../img/mv18.jpg);
}
#mv div.wrap div.mvdiv div.mvchart2 div.mv:nth-of-type(9) div.mvimg{
  
  background-image: url(../img/mv19.jpg);
}
#mv div.wrap div.mvdiv div.mvchart2 div.mv:nth-of-type(10) div.mvimg{
  
  background-image: url(../img/mv20.jpg);
}

#mv div.wrap div.mvdiv div.mv div.mvimg p {
  
  font-size: 38px;
  position: absolute;
  left: 10px;
  bottom: -3px;
  color: white;
}
#mv div.wrap div.mvdiv div.mv div.text {
  
  width: 170px;
  text-align: center;
}
#mv div.wrap div.mvdiv div.mv div.text h2 {
  
  margin-bottom: 10px;
  font-weight: bold;
  display: block;
  overflow: hidden;
  margin-top: 14px;
  font-size: 18px;
  color: #222;
  line-height: 1.167em;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#mv div.wrap div.mvdiv div.mv div.text span {
  
  display: block;
  margin-top: 9px;
  font-size: 14px;
  line-height: 1.214em;
  position: relative;
  display: inline;
  margin-left: 20px;
  color: #333;
}
#mv div.wrap div.mvdiv div.mv div.text span:nth-child(2):after{
  content: "";
  width: 16px;
  height: 16px;
  display: block;
  background-image: url(../img/texticon.png);
  position: absolute;
  left: -20px;
  top: 2px;
  background-size: cover;
}
#mv div.wrap div.mvdiv div.mv div.tk{
  
  width: 170px;
  height: 230px;
  position: absolute;
  z-index: 1;
  top: 0;
  border-radius: 14px;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 6px 10px 20px 0 rgba(0,0,0,0.4);
  background-color: rgba(0,0,0,0.4);
}
#mv div.wrap div.mvdiv div.mv div.tk ul{
  
  gap: 5px;
  display: flex;
  flex-direction: column;
}
#mv div.wrap div.mvdiv div.mv div.tk ul li{
  
  width: 120px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 12px;
}
#mv div.wrap div.mvdiv div.mv div.tk ul li:nth-of-type(1){
  
  background-color: white;
  color: #333;
}
#mv div.wrap div.mvdiv div.mv div.tk ul li:nth-of-type(2){
  
  background-color: #f14f3a;
  color: white;
}
#mv div.wrap div.mvdiv div.mv div.tk ul li:nth-of-type(1):hover{
  opacity: 0.8;
}
#mv div.wrap div.mvdiv div.mv div.tk ul li:nth-of-type(2):hover{
  opacity: 0.8;
}








.none{
 display: none;  
}
.black{
  display: block;
}
#mv div.wrap div.mvdiv .mvchart1 button{
  
  background-color: black;
}
#mv div.wrap div.mvdiv .mvchart1 .slick-prev{
  
}
#mv div.wrap div.mvdiv .mvchart1 .slick-next{
  
}